.position#watermark-position(data-mode='single')

    header.position__header
        .position__title Положение
        ul.position__modes-list
            li.position__mode(data-mode='tiling')
                a.position__mode-inner.position__mode-inner_tiling(href=jv0) Режим замощения
            li.position__mode.position__mode_active(data-mode='single')
                a.position__mode-inner.position__mode-inner_single(href=jv0) Режим одиночного знака

    -
        var grid = [
            {x: 0, y: 0}, {x: 50, y: 0}, {x: 100, y: 0},
            {x: 0, y: 50}, {x: 50, y: 50}, {x: 100, y: 50},
            {x: 0, y: 100}, {x: 50, y: 100}, {x: 100, y: 100}
        ];

    .position__grid-wrapper

        .position__grid

            each item in grid

                a.position__grid-cell(data-pos-x='#{item.x}' data-pos-y='#{item.y}' href=jv0)

            span.position__cross-line.position__cross-line_vert
            span.position__cross-line.position__cross-line_horiz

    .position__inputs-wrapper

        .input-number.position__input-container

            label.input-number__label X

                input.input-number__field.position__input.position__input_x(name='x-position' data-min=0 data-max=400 type='number' value=10)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить

        .input-number.position__input-container

            label.input-number__label Y

                input.input-number__field.position__input.position__input_y(name='y-position' data-min=0 data-max=400 type='number' value=0)

            span.input-number__spin.input-number__spin_more Увеличить
            span.input-number__spin.input-number__spin_less Уменьшить
